<template>
    <div class="vg-card">
        <div class="vg-object" 
            @mouseleave="hideDelete"
            @mouseover="displayDelete">
           {{name}}
            <action 
                v-if="deleteElement" 
                :icon="'negative'">
            </action>
            
        </div>
        <div class="vg-weight-element">
            <action :icon="'minus'"></action>
            <weight></weight>
            <action :icon="'plus'"></action>
        </div>
        
    </div>
</template>

<script>
import Action from './actions/Action.vue'
import Weight from './ElementDetails/Weight.vue'
export default {
  props: {
    name: String
  },
  components: { Action, Weight },
  data () {
    return {
        deleteElement: false
    }
  },
  methods: {
    hideDelete: function () {
        this.deleteElement = false
    },   
    displayDelete: function () {
        this.deleteElement = true
    }
  },

}
</script>

<style>

</style>