<template>
  <div class="vg-action">
    <img v-if="icon" :src="require(`@/assets/icons/${icon}.svg`)" />
  </div>
</template>

<script>
export default {
  props: {
    icon: String
  },

}
</script>

<style>
    img {
        width: .8rem;
    }
</style>