<template>
    <div class="modal-container">
        <h3>Which one ?</h3>
        <div class="vg-card">
            <div 
                @click="selectedElement(element)"
                v-for="element of groceries"
                :key="element.name"
                class="vg-object">
                {{element.name}}
            </div>
        </div>
    </div>
</template>

<script>
import VgModal from '@/components/Modals/VgModal.vue'
export default {
  methods: {
    selectedElement: function (element) {
        this.$store.commit('addGrocery', element)
        document.getElementById("home").click()
    }
  },
  props: {
    groceries: Array
  },

}
</script>

<style>
    h3 {
        align-self: center;
    }
    .modal-container {
        display: flex;
        flex-direction: column;
        margin-top: 1.5rem;
        gap: .5rem;
    }
</style>