<template>
  <main class="msger-chat">
    <div class="vg-cards">    
      <vg-element 
        v-for="element of groceries"
        :key="element.name"
        :name="element.name"
      ></vg-element>
    </div>
  </main>
</template>

<script>
import VgElement from './VgElement/VgElement.vue'
export default {
  data () {
    return {
      groceries: this.$store.state.groceries
    }
  },
  components: {
    VgElement
  }
}
</script>

<style>

</style>
