<template>
  <section id="home" class="msger">
    <vg-header></vg-header>
    <vg-main-chat :messages="messages"></vg-main-chat>
    <vg-chat-input v-on:speech="processSpeech"></vg-chat-input>
  </section>
</template>

<script>
import VgModal from '@/components/Modals/VgModal.vue'
import VgChatInput from '@/components/VgChatInput.vue';
import VgHeader from '@/components/VgHeader.vue';
import VgMainChat from '@/components/VgMainChat/VgMainChat.vue';
export default {
  watch: {
    messages: function (value) {
      this.$modal.hide()
    }
  },
  components: {
    VgHeader,
    VgMainChat,
    VgChatInput
  },
  data () {
    return {
      messages: this.$store.state.groceries
    }
  },
  methods: {
    processSpeech: function (speech) {
      const result = this.process(speech)
      if(result.length > 1) {
        this.$modal.show(
          VgModal,
          { groceries: result },
          { draggable: true }
        )
      } else {
        if(result.length == 1) {
          this.$store.commit('addGrocery', result[0])
        }
      }
    },
    selected: function(element) {
      console.log(element)
    }
  }
}
</script>
