<template>
  <div class="msger-inputarea">
    <input type="text" class="msger-input" placeholder="Enter your message...">
    <button class="msger-send-btn" @click="startListnening">
        <img :src="require('@/assets/images/microphone.svg')" />
    </button>
  </div>
</template>

<script>
export default {
  watch: {
    recognition: function(event) {
        console.log(event)
    }
  },
  methods: {
    startListnening: function () {
        
        this.recognition.start();
    }
  },
  data () {
    return {
        recognition: new window.webkitSpeechRecognition
    }
  },
  created () {
    let vm = null
    vm = this
    let finalTranscripts = ''
    let interimTranscripts = ''
    this.recognition.lang = 'fr_FR';
    this.recognition.interimResults = false;
    this.recognition.continuous = false;
    this.recognition.maxAlternatives = 2;

    this.recognition.onresult = function(event) {
        let interimTranscripts = ''
        for(let i = event.resultIndex; i < event.results.length; i++) {
            let transcript = event.results[i][0].transcript
            transcript.replace("\n", "<br>")
            if(event.results[i].isFinal) {
                finalTranscripts += transcript
                vm.$emit('speech', transcript)
            }else{
                interimTranscripts += transcript
                
            }
        }
    };
  },

}
</script>

<style>

</style>
