<template>
  <header class="msger-header">
    <div class="msger-header-title">
      <i class="fas fa-comment-alt"></i>
      {{$companyName}} assistant
    </div>
    <div class="msger-header-options">
      <span><i class="fas fa-cog"></i></span>
    </div>
  </header>
</template>

<script>
export default {

}
</script>

<style>

</style>