<template>
  <div class="app">
    <router-view/>
  </div>
</template>

<style lang="scss">
@import "./assets/css/styles.css";

.app {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
</style>